<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>{% block title %}Baggullho{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet" media="screen,projection">

</head>

<body>
  <nav class="black lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('index')}}" class="brand-logo">{% block navbar %}Baggullho{% endblock %}</a>
      <ul class="right hide-on-med-and-down">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('logout')}}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login')}}">Login or Register</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#"></a>menu</li>

      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-danger" role="alert">
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>

  {% block content %}
  {% endblock %}

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright © 2018 <a class="orange-text text-lighten-3" href="http://materializecss.com">Matheus Cavalcante - Todos os Direitos Reservados</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>


</body>

</html>