{% extends 'base.html' %}

{% block title %}{{ super() }} - Register{% endblock %}

{% block content %}

  <div class="container">
    <h2>Register</h2>
    <div class="section">
      <div class="row">

        <form class="col s12" method="POST">
           {{ form.csrf_token }}
          <div class="row">
            <div class="input-field col s6">
              <label for="username">Username</label>
               {{ form.username(class="form-control") }}
              {% if form.errors.username %}
              <div class="alert alert-danger" role="alert">
                {{ form.errors.username }}
              </div>
              {% endif %}
            </div>
              <div class="input-field col s6">
              <label for="name">Name</label>
               {{ form.name(class="form-control") }}
              {% if form.errors.name %}
              <div class="alert alert-danger" role="alert">
                {{ form.errors.name }}
              </div>
              {% endif %}
            </div>
              <div class="input-field col s6">
              <label for="email">E-mail</label>
               {{ form.email(class="form-control") }}
              {% if form.errors.email %}
              <div class="alert alert-danger" role="alert">
                {{ form.errors.username }}
              </div>
              {% endif %}
            </div>
            <div class="input-field col s6">
              <label for="password">Password</label>
               {{ form.password(class="form-control") }}
               {% if form.errors.password %}
              <div class="alert alert-danger" role="alert">
                {{ form.errors.password }}
              </div>
               {% endif %}
            </div>
            <button type="submit" class="btn btn-default">Register</button>
          </div>
        </form>
      </div>
      </form>
    </div>
  </div>
  <br><br><br><br><br><br>
{% endblock %}